<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Title</title>
    <!-- jquery 사용 -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <style>
        .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
        .wrap * {padding: 0;margin: 0;}
        .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
        .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
        .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
        .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
        .info .close:hover {cursor: pointer;}
        .info .body {position: relative;overflow: hidden;}
        .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
        .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
        .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
        .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
        .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        .info .link {color: #5085BB;}

        .ResponsiveBackground{
          height: 100vh;
          width: 100vw;
          max-width: 1024px;
          margin: auto auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          font-family: 'Noto Sans KR', sans-serif;
        }

        .map{
            display: block;
            width: 100%;
            height: 100%;
        }

        .current-location{
            position: absolute;
            margin-bottom: 10vh;
            margin-left: 40vw;
            width: 70px;
            height: 70px;
            z-index: 1;
        }


    </style>
</head>
<body>

    <div class="ResponsiveBackground">
        <div class="map" id="map"></div>
        <button class="current-location" type="button" id="currentLocation">현재 위치</button>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=010359d956a2e66b66db8df0ccd958d1&libraries=services,clusterer"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.5666612, 126.9783785),
            level: 8
        };

        var map = new kakao.maps.Map(container, options);


        // 현재 위치 버튼 실행시 작동
        $('#currentLocation').click(function () {
            // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
            if (navigator.geolocation) {
                // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                navigator.geolocation.getCurrentPosition(function(position) {

                    var lat = position.coords.latitude, // 위도
                        lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                        message = '<div style="padding:5px;">현재 위치</div>'; // 인포윈도우에 표시될 내용입니다

                    // 마커와 인포윈도우를 표시합니다
                    displayMarker(locPosition, message);

                    // 마커 좌표를 접속위치로 변경합니다
                    map.setCenter(locPosition);
                  });

            } else {
                // HTML5의 GeoLocation을 사용할 수 없을때
            }
        });


        // 현재 위치 버튼 작동 시 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: locPosition
            });

            var iwContent = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 인포윈도우를 마커위에 표시합니다
            infowindow.open(map, marker);

            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition);
        }


        // 주차장 정보를 표시하는 객체 배열
        var parkingLots = [
            {"tel":"02-2232-6096","parking_type":"NW","lng":127.02425684,"addr":"동대문구 신설동 114-29","holiday_pay_yn":"N","que_status":"1","weekday_begin_time":"0900","time_rate":5,"capacity":79,"cur_parking":51,"sh_co":"","lat":37.57252061,"night_free_open_nm":"야간 미개방","add_time_rate":5,"sh_etc":"","pay_yn":"Y","parking_code":1247636,"rates":260,"weekend_begin_time":"0900","weekday_end_time":"1900","parking_type_nm":"노외 주차장","saturday_pay_yn":"N","operation_rule":"1","bus_add_time_rate":0,"pay_nm":"유료","parking_name":"신설동 공영주차장(시)","weekend_end_time":"1900","day_maximum":null,"sh_link":"","holiday_pay_nm":"무료","saturday_pay_nm":"무료","holiday_end_time":"1900","fulltime_monthly":"","grp_parknm":"","operation_rule_nm":"시간제 주차장","night_free_open":"N","bus_time_rate":0,"holiday_begin_time":"0900"},
            {"tel":"02-3405-4598","parking_type":"NW","lng":127.066994,"addr":"동대문구 장안동 392-3","holiday_pay_yn":"N","que_status":"1","weekday_begin_time":"0000","time_rate":5,"capacity":74,"cur_parking":44,"sh_co":"","lat":37.56941,"night_free_open_nm":"야간 미개방","add_time_rate":5,"sh_etc":"","pay_yn":"Y","parking_code":1913393,"rates":130,"weekend_begin_time":"0000","weekday_end_time":"2400","parking_type_nm":"노외 주차장","saturday_pay_yn":"N","operation_rule":"1","bus_add_time_rate":0,"pay_nm":"유료","parking_name":"장안1동 공영주차장(시)","weekend_end_time":"2400","day_maximum":0,"sh_link":"","holiday_pay_nm":"무료","saturday_pay_nm":"무료","holiday_end_time":"2400","fulltime_monthly":"90000","grp_parknm":"","operation_rule_nm":"시간제 주차장","night_free_open":"N","bus_time_rate":0,"holiday_begin_time":"0000"},
            {"tel":"02-2290-6566","parking_type":"NW","lng":126.97588429,"addr":"종로구 세종로 80-1","holiday_pay_yn":"N","que_status":"1","weekday_begin_time":"0000","time_rate":5,"capacity":1260,"cur_parking":306,"sh_co":"","lat":37.57340269,"night_free_open_nm":"야간 미개방","add_time_rate":5,"sh_etc":"","pay_yn":"Y","parking_code":171721,"rates":430,"weekend_begin_time":"0000","weekday_end_time":"2400","parking_type_nm":"노외 주차장","saturday_pay_yn":"N","operation_rule":"1","bus_add_time_rate":0,"pay_nm":"유료","parking_name":"세종로 공영주차장(시)","weekend_end_time":"2400","day_maximum":0,"sh_link":"","holiday_pay_nm":"무료","saturday_pay_nm":"무료","holiday_end_time":"2400","fulltime_monthly":"176000","grp_parknm":"","operation_rule_nm":"시간제 주차장","night_free_open":"N","bus_time_rate":0,"holiday_begin_time":"0000"},
            {"tel":"02-2290-6166","parking_type":"NW","lng":126.99496888,"addr":"종로구 훈정동 2-0","holiday_pay_yn":"N","que_status":"1","weekday_begin_time":"0000","time_rate":5,"capacity":1317,"cur_parking":427,"sh_co":"","lat":37.57150398,"night_free_open_nm":"야간 미개방","add_time_rate":5,"sh_etc":"","pay_yn":"Y","parking_code":171730,"rates":400,"weekend_begin_time":"0000","weekday_end_time":"2400","parking_type_nm":"노외 주차장","saturday_pay_yn":"N","operation_rule":"1","bus_add_time_rate":0,"pay_nm":"유료","parking_name":"종묘주차장 공영주차장(시)","weekend_end_time":"2400","day_maximum":0,"sh_link":"","holiday_pay_nm":"무료","saturday_pay_nm":"무료","holiday_end_time":"2400","fulltime_monthly":"175000","grp_parknm":"","operation_rule_nm":"시간제 주차장","night_free_open":"N","bus_time_rate":0,"holiday_begin_time":"0000"},
            {"tel":"02-2264-4895","parking_type":"NW","lng":126.97418586,"addr":"종로구 적선동 140-0","holiday_pay_yn":"N","que_status":"1","weekday_begin_time":"0900","time_rate":120,"capacity":28,"cur_parking":20,"sh_co":"","lat":37.57449014,"night_free_open_nm":"야간 미개방","add_time_rate":5,"sh_etc":"","pay_yn":"Y","parking_code":1367264,"rates":8100,"weekend_begin_time":"0900","weekday_end_time":"1900","parking_type_nm":"노외 주차장","saturday_pay_yn":"N","operation_rule":"4","bus_add_time_rate":5,"pay_nm":"유료","parking_name":"적선동 주차장(시)","weekend_end_time":"1900","day_maximum":0,"sh_link":"","holiday_pay_nm":"무료","saturday_pay_nm":"무료","holiday_end_time":"1900","fulltime_monthly":"0","grp_parknm":"","operation_rule_nm":"버스전용 주차장","night_free_open":"N","bus_time_rate":120,"holiday_begin_time":"0900"},

        ];

        //카카오 api 라이브러리에 맞는 내용을 담아줄 배열 선언
        let plPositions = [];

        //위의 parkingLots에서 필요한 정보를 plPositions에 담아준다.
        for(var i = 0; i < parkingLots.length; i++){
            // 커스텀 오버레이에 표시할 컨텐츠
            var content = '<div class="wrap">' +
                        '    <div class="info">' +
                        '        <div class="title">' +
                                    parkingLots[i].parking_name +
                        '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                        '        </div>' +
                        '        <div class="body">' +
                        '            <div class="img">' +
                        '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                        '           </div>' +
                        '            <div class="desc">' +
                        '                <div class="ellipsis">' + parkingLots[i].addr +'</div>' +
                        '            </div>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>';
            var data = {parking_code : parkingLots[i].parking_code,
                        latlng: new kakao.maps.LatLng(parkingLots[i].lat, parkingLots[i].lng),
                        addr: parkingLots[i].addr,
                        parking_name: parkingLots[i].parking_name,
                        content: content
                        }
            plPositions.push(data);
        }

        var content = '<div class="wrap">' +
                        '    <div class="info">' +
                        '        <div class="title">' +
                                    parkingLots[0].parking_name +
                        '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
                        '        </div>' +
                        '        <div class="body">' +
                        '            <div class="img">' +
                        '                <img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png" width="73" height="70">' +
                        '           </div>' +
                        '            <div class="desc">' +
                        '                <div class="ellipsis">' + parkingLots[0].addr +'</div>' +
                        '            </div>' +
                        '        </div>' +
                        '    </div>' +
                        '</div>';

        //plPositions에 담긴 내용르 바탕으로 마커 생성
        for (var i = 0; i < plPositions.length; i ++) {
            var marker = new kakao.maps.Marker({
                map: map,
                position: plPositions[i].latlng
            });
            // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 커스텀오버레이를 표시합니다
                // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
                var overlay = new kakao.maps.CustomOverlay({
                    content: content,
                    map: map,
                    position: marker.getPosition()
                });
                overlay.setMap(map);
            });

            // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다
            function closeOverlay() {
                overlay.setMap(null);
            }

        }










    </script>
</body>
</html>